server:
  port: 8080

spring:
  application:
    name: blog-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/blog

  cloud:
    gateway:
      routes:
        - id: blog-service
          uri: lb://BLOG-SERVICE
          predicates:
            - Path=/api/blog/**
          filters:
            - StripPrefix=2
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2

blog:
  security:
    keycloak:
      client-id: blog-api

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
