server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/query_db_dev
    username: query_user_dev
    password: query_password_dev
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: simple

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/blog

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    com.nvbinhsoft.blog.query: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"

blog:
  security:
    keycloak:
      client-id: blog-api
